h1 {
   color: #333;
   font: 24px Arial, sans-serif;
   font-style: italic;


}

body {
   font-family: Arial, sans-serif;
}

h2 {
   color: #333;
}

#binaryInput {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   width: 200px;
}

button {
   margin-left: 10px;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   background-color: #4CAF50;
   color: white;
   cursor: pointer;
}

button:hover {
   background-color: #45a049;
}

.result-box {
   margin-top: 20px;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 200px; /* Fixed width */
   height: 50px; /* Fixed height */
   display: flex;
   align-items: center;
   justify-content: center;
}